header {
    height: 100vh;
    overflow: hidden;
    padding-top: 7rem;
}

.profile-img {
    height: 310px;
}

.header-container {
    height: 100%;
    text-align: center;
    position: relative;
}

/* CTA Styles */
.CTA {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* HEADER SOCIALS Styles */
.header-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header-socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ANURAG Styles */
.anurag {
    width: 22rem;
    height: 24rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 2rem;
    border-radius: 12rem 12rem 0 0;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    background: linear-gradient(var(--color-primary), transparent);
}

/* SCROLL DOWN */
.scroll-down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
    header {
        padding-top: 2rem;
        height: 100vh;
    }

    .anurag {
        height: 30rem;
    }

    .profile-img {
        height: 390px;
    }

    .header-socials,
    .scroll-down {
        display: none;
    }
}